* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: "Times New Roman", Times, serif;
    padding: 0;
    margin: 0;
}


body { 
    line-height: 1.5;
    font: italic;
}

ul { 
    list-style: none; 
    text-decoration: none;
}


a { 
    text-decoration: none; 
    display: inline-block;
    color: inherit;
}


.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 24px;
}

.brand h1 {
    font-size: 24px;
    color: #363636;

}

.header-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
}


.nav-links {
    flex: 1;  
}


.nav-links a {
    color: #7E7E7E;
    font-weight: 500;
    padding: 8px 12px;
}
.nav-links a:hover {
    color: #5E5E5E;
}

.nav-links a.active {
    color: #363636;
    font-weight: 600;
}

.nav-links ul {
    display: flex; 
    gap: 16px; 
    align-items: center; 
    justify-content: center;
}

.brand {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}


.actions { 
    display: flex; 
    gap: 10px; 
    align-items: center; 
}

.iconbtn {
    background: transparent;
    border: none;
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
    border-radius: 999px;
    padding: 0;
    cursor: pointer;
}

.iconbtn:hover {
    background-color: #f1f3f5;
}

.iconbtn--actions {
    background: transparent;
    border: none;
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
}

.iconbtn--actions:hover {
    background-color: #f1f3f5;
}

.ProjectShowcase{
    border: black solid 2px;
    background-color: rgb(245, 218, 151);
}

#titleproject {
    
    
    text-align: center;
    
    
    
}